<!DOCTYPE html>
<html>
	<head>
		<title>Ejemplo</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
	</head>
	<body>
	<header>
	<h1>layout de Ejemplo</h1>
</header>

<%= yield %> 
	<p>Este mensaje viene del layout de Ejemplo</p>
		
	</body>
</html>